<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qtone.util.dao.prod.ProdUcMapper">
    <select id="getBindImeiPhone" resultType="com.qtone.util.qinqingwang.entity.FamilyPhoneMemberRecord">




        SELECT
        imei_phone imeiPhone,
        sc.id schoolId,
        s.classId,
        s.id userId,
        2 userType,
        sc.province_id provinceId,
        sc.city_id cityId,
        sc.district_id districtId,
        toc.target_tel_str familyPhone
        FROM
        student_extend se
        LEFT JOIN student s ON se.id = s.id
        LEFT JOIN school sc ON s.school_id = sc.id
        LEFT JOIN hdkt_gps.terminal_outbound_call toc ON s.id = toc.user_id
        AND toc.user_type = 2
        AND toc.is_deleted = 0
        WHERE
        se.is_deleted = 0
        AND s.is_deleted = 0
        AND sc.is_deleted = 0
        AND imei_phone IN




        <foreach collection="list" item="item" open="(" separator="," close=")" index="index">
            #{item}
        </foreach>
    </select>

    <select id="getSchoolAreaByParentId" resultType="com.qtone.util.saveSchool.dto.SchoolArea">




        SELECT id,`code`,province,city,district from dict_schoolArea where parent_id = #{parentId}




    </select>

    <select id="getSchoolByName" resultType="com.qtone.util.saveSchool.dto.HdktSchool">



        SELECT
            id,
            schoolName
        FROM
            school
        WHERE
            schoolName = #{schoolName}
            AND province_id = #{provinceId} and is_deleted=0 limit 1



    </select>

    <select id="getAddBindNum" resultType="int">


        SELECT count(1) from student where send_time BETWEEN #{startTime} and #{endTime}


    </select>

    <select id="getAnswerNum" resultType="int">


        SELECT count(1) from answer_4g_log where create_time BETWEEN #{startTime} and #{endTime}


    </select>

    <select id="getSchoolBindInfo" resultType="com.qtone.util.weeklyData.SchoolWeekDataStatistics">

    SELECT t.* from
    (
            SELECT
                sc.province_name provinceName,
                sc.city_name cityName,
                sc.district_name districtName,
                sc.id schoolId,
                sc.schoolName,
                count(s.id) totalStudentNum ,
                count(s.create_time &gt;= #{startTime} and s.create_time &lt; #{endTime} or null) studentNum,
                count(LENGTH(s.send_time) &gt;= 10 or null) totalBindNum ,
                count(s.send_time &gt;= #{startTime} and s.send_time &lt; #{endTime} or null) bindNum
            FROM
                student s
                LEFT JOIN school sc ON s.school_id = sc.id
                where s.is_deleted = 0 and school_id is not NULL
    GROUP BY
        sc.id) t where t.totalBindNum>0


    </select>

    <select id="getSchoolUnBindNumByStudetnId" resultType="com.qtone.util.weeklyData.SchoolWeekDataStatistics">

    SELECT
        sc.id schoolId,
        count(s.id) unBindNum
    FROM
        student s
        LEFT JOIN school sc ON s.school_id = sc.id
    WHERE
        (LENGTH(s.send_time) &lt; 2 or s.send_time is null)
        AND s.is_deleted = 0
        AND s.id IN
        <foreach collection="list" item="item" open="(" separator="," close=")" index="index">
            #{item}
        </foreach>
    GROUP BY
        sc.id

    </select>
</mapper>